<%- include layouts/header.ejs %>

      <div class="table-items">
        <div class="header">Travel Centre Locations</div>
          <table cellspacing="0">
            <tr>
              <th width="50px">Id</th>
              <th>Name</th>
              <th>Address</th>
              <th>Post Code</th>
              <th>Phone</th>
              <th>E-Mail</th>
              <th>Hours</th>
              <th>Map</th>
            </tr>

            <% if(data.length){

            for(var i = 0;i < data.length;i++) { %>

            <tr>
              <td><%=data[i].id%></td>
              <td><%=data[i].name%></td>
              <td><%=data[i].address%></td>
              <td><%=data[i].postcode%></td>
              <td><%=data[i].phone%></td>
              <td><%=data[i].email%></td>
              <td><%=data[i].hours%></td>
              <td><a href="<%=data[i].map%>">Map</a></td>
            </tr>
            <% }

            }else{ %>
            <tr>
              <td colspan="3">No user</td>
            </tr>
            <% } %>
          </table>

<%- include layouts/footer.ejs %>
